<%%= semantic_form_for @<%= singular_name %> do |f| %>
  <%%= f.inputs do %>
  <%- attributes.each do |attribute| -%>
    
    <div class="row">
      <div class="col-xs-12">
        <%%= f.input :<%= attribute.name %> %>
      </div>
    </div>
  <%- end -%>
  
  <%- end -%>
  <%% end %>

  <%%= f.actions do %>
    <%%= f.action :submit, label: "Salvar", :as => :button, :button_html => { class: "btn btn-primary btn-sm m-t-10 waves-effect" } %>
  <%% end %>
<%% end %>
