<style rel="stylesheet">
    #footer {
      color: #e8e8e8;
      background-color: #222222;
      text-align: left;
      margin-top: 30px;
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }

    #footer h2 {
    	font-size: 115%;
    }

    #footer ul {
    	list-style: none;
    	margin-left: 0px;
    	padding-left: 0px;
    	width: 250px;
    }

    #footer ul li a {
    	padding: 15px 0px;
    } 

    #footer hr {
      width: 200px;
      margin: 10px 0px;
      border-color: #e8e8e8;
    }

    #footer ul li a {
    	display: inline-block;
    	width: 100%;
    	height: 100%;
    }

    #footer a:link, #footer a:visited {
    	color: #8e8e8e;
    	text-decoration: none;
    }

    #footer a:hover {
    	color: #b8c200;
    	text-decoration: none;
    }

    #footer-inner {
    	background-color: #1f1f1f;
    	padding: 20px 0px;
    }
</style>
<div id="footer">
	<div id="footer-inner">
		<div class="container">
			<div class="pull-right">
				<% #link_to image_tag("twitter-256.gif", width: "25"), "http://twitter.com/achario" %>
				<% #link_to image_tag("pinterest-256.png", width: "25"), "http://pinterest.com/achario" %>
				<% #link_to image_tag("facebook-256.png", width: "25"), "http://facebook.com/achario" %>
			</div>
			Copyright &copy; 2015 <a href="/">Roadmaps Soluções</a>.
		</div>
	</div>
</div>